#currentMonth {
    border-bottom: 1px solid black;
    text-align: center;
    font-size: large;
    font-weight: bold;
    .switcher {
        border: 0;
        background: inherit;
    }
    .left {
        float: left;
    }
    .right {
        float: right;
    }
}
