
.eventMonth {    
    width: 100%;
    margin-top: 2px;
    // margin: 2;
    // border: 1px solid red;
    background-color: azure;
}

.eventMonth:hover {
    background-color: beige;
    cursor: pointer;
}
