@import 'spinner';
@import 'speaker';
@import 'resource';
body {
    font-family: 'Lato', sans-serif;
    background-color: #ebebeb;
    box-sizing: border-box;
    white-space: -0.125em;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.container {
    padding-left: 0;
    padding-right: 0;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

#navigation {
    border-radius: 5px;
    background-color: lightcyan;
    min-width: 310px;
    .change {
        float: right;
    }
    #currentView {
        text-align: center;
    }
}

#calendar-month {
    position: relative;
    margin-top: -1px;
    background-color: lightcyan;
    border: 1px solid black;
    .row {
        margin-left: -1px;
    }
    #currentMonth {
        border-bottom: 1px solid black;
        text-align: center;
        font-size: large;
        font-weight: bold;
    }
    #month-days {
        .month-day {
            float: left;
            width: 14.2857%;
            height: 30px;
            border-left: 1px solid black; // border-radius: 3px; 
        }
    }
    .calendarCell {
        position: relative;
        float: left;
        width: 14.2857%;
        height: 90px;
        border-left: 1px solid black; // border-radius: 3px;
        border-top: 1px solid black; // border-radius: 3px;
        .eventMonth {
            width: 96%;
            margin-top: 2px;
            margin-left: 2%; // margin: 2;
            border: 1px solid black;
            border-radius: 4px;
            background-color: #dbc1a0;
            text-align: center;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .eventMonth:hover {
            background-color: #f9e7cf;
            cursor: pointer;
        }
    }
}

#calendar-week {
    background-color: lightcyan;
    min-width: 520px;
    text-align: center;
    #currentMonth {
        border: 1px solid black;
        font-size: large;
        font-weight: bold;
    }
    .row {
        margin-top: -1px;
        border-right: 1px solid black;
    }
    .col-time {
        float: left;
        display: inline-block;
        width: 10%;
        border-top: 1px solid black;
        .time {
            height: 25px;
            border-left: 1px solid black;
            border-bottom: 1px solid black;
        }
    }
    .col-day {
        float: left;
        display: inline-block;
        width: 12.8574%;
        border-top: 1px solid black;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        .day {
            height: 25px;
            border-left: 1px solid black;
            border-bottom: 1px solid black;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .event-day-wrapper {
            position: relative;
            height: 600px;
            .hour-cell {
                position: absolute;
                height: 25px;
                width: 100%; // background-color: moccasin;
                border-left: 1px solid black;
                border-bottom: 1px solid black;
                z-index: 1;
            }
            .event-day {
                position: absolute;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: #dbc1a0;
                text-align: center;
                height: 50px;
                width: 90%;
                border: 1px solid black;
                border-radius: 4px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                z-index: 2;
                cursor: pointer;
            }
            .event-day:hover {
                background-color: #f9e7cf;
                z-index: 3;
            }
        }
    }
}
