body {
    font-family: sans-serif;
    background-color: lightblue;
    box-sizing: border-box;
    // white-space: -0.125em;
}

.container {
    padding-left: 0;
    padding-right: 0;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

#navigation {
    height: 50px;
    border: 1px solid black;
    background-color: lightcoral;
    
    .change {
        float: right;
    }

    #currentView {
       text-align: center;
    }
}

.calendarCell {
    float: left;
    width: 14.2857%;
    height: 50px;
    border: 1px solid black;
    border-radius: 3px;
}

#calendar-month {
    background-color: lightcyan;
    #month-days {
        background-color: lightslategray;
        color: white;
        .month-day{
            float: left;
            width: 14.2857%;
            height: 50px;
            border: 1px solid black;
            border-radius: 3px; 
        }
    }
}

#calendar-week {
     background-color: lightblue;
}

.col-time{
    float: left;
    display: inline-block;
    width: 10%;
    .time{
        height: 30px;
        border: 1px solid black;
        border-radius: 3px;
    }
}

.col-day {
    float: left;
    display: inline-block;
    width: 12.8574%;
    .day {
        height: 30px;
        border: 1px solid black;
        border-radius: 3px;
    }
    .day:hover {
        background-color: red;        
        border: 1px solid black;
        border-radius: 3px;
    }

}

