@import 'eventMonth';
@import 'spinner';
@import 'speaker';
body {
    font-family: sans-serif;
    background-color: #ebebeb;
    box-sizing: border-box;
    white-space: -0.125em;
}

#root {
    margin-top: 60px;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.container {
    padding-left: 0;
    padding-right: 0;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

#navigation {
    height: 50px;
    border: 1px solid black;
    background-color: lightcoral;
    .change {
        float: right;
    }
    #currentView {
        text-align: center;
    }
}

#calendar-month {
    position: relative;
    margin-top: -1px;
    background-color: lightcyan;
    border: 1px solid black;
    .row {
        margin-left: -1px;
    }
    #currentMonth {
        border-bottom: 1px solid black;
        text-align: center;
    }
    #month-days {
        .month-day {
            float: left;
            width: 14.2857%;
            height: 30px;
            border-left: 1px solid black; // border-radius: 3px; 
        }
    }
    .calendarCell {
        position: relative;
        float: left;
        width: 14.2857%;
        height: 86px;
        border-left: 1px solid black; // border-radius: 3px;
        border-top: 1px solid black; // border-radius: 3px;
        .eventMonth {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

#calendar-week {
    background-color: lightcyan;
    .row {
        margin-top: -1px;
        border-right: 1px solid black;
    }
    .col-time {
        float: left;
        display: inline-block;
        width: 10%;
        .time {
            height: 25px;
                border-left: 1px solid black;
                border-bottom: 1px solid black;
        }
    }
    .col-day {
        float: left;
        display: inline-block;
        width: 12.8574%;
        .day {
            height: 25px;
            border-left: 1px solid black;
            border-bottom: 1px solid black;
        }
        .event-day-wrapper {
            position: relative;
            height: 600px;
            .hour-cell {
                position: absolute;
                height: 25px;
                width: 100%;
                // background-color: moccasin;
                border-left: 1px solid black;
                border-bottom: 1px solid black;
                z-index: 1;
            }
            .event-day {
                position: absolute;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: #dbc1a0;
                text-align: center;
                height: 50px;
                width: 90%;
                border: 1px solid black;
                border-radius: 4px;
                z-index: 2;
            }
        }
    }
}
